section{
    padding:15px;
    text-align:center;
}
button{
    font: size 20px;
    padding:14px 25px;
    background-color:rgba(73, 82, 206, 0.479);
    color:aqua;

}
/* sudo selectors use : */
button:hover{
    cursor: pointer;
    background-color:rgb(131, 240, 189);
    color:antiquewhite;
}
table,th{
    border:2px solid skyblue;
    border-collapse:collapse;
    padding:10px;

}
.input-field{
    font-size:30px;
    margin:20px;
    height:50px;
    border:2px solid rgb(30, 98, 124);
    outline: none;
    border-radius:8px;
}
.input-field:hover{
    background-color:rgb(190, 204, 214);
}